@import "tailwindcss";

body {
  font-family: 'Plus Jakarta Sans', sans-serif;
  margin: 0;
  padding: 0;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  display: none;
}

input {
    outline: none;
}
input[type="date"]::-webkit-calendar-picker-indicator {
  filter: invert(68%) sepia(15%) saturate(720%) hue-rotate(155deg)
          brightness(85%) contrast(90%);
  opacity: 1;
}
input[type="time"]::-webkit-calendar-picker-indicator {
  filter: invert(68%) sepia(15%) saturate(720%) hue-rotate(155deg)
          brightness(85%) contrast(90%);
  opacity: 1;
}
input[type="file"]::-webkit-file-upload-button {
  border-radius: 10%;
  color: white;
  cursor: pointer;
  font-size: 12px;
}

.menu-bg {
  background-color: #696FC7;
}

.secondary-box-bg {
  background-color: #59AC77;
}
.tertiray-box-bg {
  background-color: #BB6653;
}

.on-service {
  background-color: #5FBA3E;
}
.on-reservation {
  background-color: #5353F3;
}
.on-ended {
  background-color: #C92C2C;
}


.text-primary {
  color: #696FC7;
}

.on-available {
  background-color: #5FBA3E;
}

.bg-body {
  background-color: #01182e;
}
.bg-sub {
  background-color: #011120;
}
.bg-sidebar {
  background-color: #030d16;
}
.bg-header{
  background-color: #030d16;
}
.bg-border {
  background-color: #032d44;
}
.button-color {
  background-color: #4E8EA2;
}
.txt-color {
  color: #4A5C6A
}


.fc-daygrid-event {
  margin-top: 4px;   /* space above each event */
  margin-bottom: 4px; /* space below each event */
}

.myCalendar .fc-toolbar-title {
  color: rgb(192, 190, 190);
  font-size: 24px;
  font-weight: bold;
}


.myCalendar .fc-event-title {
  white-space: normal !important;       /* prevent multi-line overflow */
  overflow: hidden;   
  font-size: 12px;
  text-overflow: ellipsis;   /* add "..." at the end */
  max-width: 100%;       
  line-height: 1.2;    
}

.tippy-box[data-theme~='white'] {
  background-color: #fff;
  font-size: 12px;
  color: #000;        /* text color */
  border: 1px solid #ccc;
}

.myCalendar .fc-button {
  background: #4E8EA2;
  border: none;
  color: white;
  border-radius: 6px;
}

.myCalendar .fc-timegrid-slot-label {
  color: #ffffff;   /* text color */
  font-weight: 500; /* optional */
}

.myCalendar .fc-timegrid-axis-cushion {
  color: #ffffff;   /* make text white */
  font-weight: 600; /* optional bold */
  font-size: 12px;
}
.myCalendar .fc-button:hover {
  background: #3b6f80;
}

.myCalendar .fc-daygrid-day-number {
  color: white !important;
  font-weight: 600;       
}

.myCalendar .fc-day-mon,
.myCalendar .fc-day-tue,
.myCalendar .fc-day-wed,
.myCalendar .fc-day-thu,
.myCalendar .fc-day-fri,
.myCalendar .fc-day-sat,
.myCalendar .fc-day-sun{
  color: white;
}


.myCalendar .fc-list-day-cushion {
  color: #ffffff;
  font-weight: bold;
  background-color: #032d44
}
.myCalendar .fc-list-event:hover {
  background-color: #032d44;
  cursor: default; /* optional: remove pointer cursor */
}

/* Also disable hover on the title cell specifically */
.myCalendar .fc-list-event-title:hover {
  background: none !important;
}


/* Make event titles white too */
.myCalendar .fc-list-event-title {
  color: #ffffff;
}

/* Optional: style the time column */
.myCalendar .fc-list-event-time {
  color: #9ca3af; /* Tailwind gray-400 */
}

