@import "tailwindcss";

body {
  font-family: 'Plus Jakarta Sans', sans-serif;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  display: none;
}

input {
    outline: none;
}

.menu-bg {
  background-color: #696FC7;
}

.secondary-box-bg {
  background-color: #59AC77;
}
.tertiray-box-bg {
  background-color: #BB6653;
}